.chatContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 430px) {
  .chatContainer {
    flex-direction: column;
  }
}

.contacts {
  flex: 1;
  padding: 20px;
  background-color: #f3f3f3;
  overflow-y: auto;
}

.chatList {
  margin-top: 20px;
  overflow: auto;
}

.chatItem {
  padding: 10px;
  border-radius: var(--borderRadius);
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.chatItem:hover {
  background-color: #eaeaea;
}

.chatItem.active {
  background-color: #dcf8c6;
}

.chat {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  overflow: hidden;
}

.chatHeader {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.chatTitle {
  margin: 0;
}

.chatContent {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  flex-grow: 1;
}


.createChatButton {
  margin: 10px 0;
}
